@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Roboto:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;

}

.sidebar {
 /*   background-color: brown;*/
    width: 10;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 30px;
    font-size: 25px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px;
}

.main {
    background-color: blue;
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
 /*   background-color: rgb(226, 198, 43);*/
    height: 45vh;
    width: 82vw;
    margin: 77px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Arima', cursive;
    font-family: 'Roboto', sans-serif
}

.hello {
    font-size: 60px;
}

.name {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.about {
    font-size: 40px;
}

.devPic img {
    width: 600px;
    height: 68vh;

}
.more_about{
    font-size: 21px;
}
.buttons{
    margin-top: 24px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: azure;
    background-color: yellow;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
    color: antiquewhite;
    background-color: brown;
}